:root {
    --primary-color: #8a4ba8;
    --secondary-color: #312f30;
    --background-light: #e6dcf1;
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    --border-color: #423152;
    --feedback-success: #360765;
    --feedback-error: #e53e3e;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #312f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./assets/endless-constellation.svg");
}

.app-container {
    text-align: center;
    max-width: 1200px; /* Adjust based on your design */
    width: 100%;
}

/* Add styles for Update component following the same principles */
