/* app.css */

/**
 * Button styles for toggle-form.
 */
.toggle-form-button {
    background-color: #8a4ba8;
    color: #fcfafd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
    margin: 0.1rem;
    text-align: center;
}

/**
 * Row container styles.
 */
.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/**
 * Container styles for form elements.
 */
.form-container-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}

/**
 * Input field styles for forms.
 */
.form-input {
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid #882be5;
    border-radius: 4px;
    transition: opacity 1s ease-in-out;
}

/**
 * Title styles for the app.
 */
.app-title {
    font-family: 'Brush Script MT', cursive;
    font-size: 100px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    color: #f4f4f5;
    border-color: #8a4ba8;
}

/**
 * Button styles for toggle-form with opacity transition.
 */
.toggle-form-button {
    transition: opacity 0.5s ease-in-out;
}

/**
 * Icon SVG styles inside toggle-form-button.
 */
.toggle-form-button > .icon-svg {
    width: 20px;
    height: 20px;
    fill: #882be5 !important;
    text-align: center;
}

/**
 * Container styles for form elements with opacity transition.
 */
.form-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/**
 * Visible state styles for form-container.
 */
.form-container.visible {
    opacity: 1;
}

/**
 * Description text styles for the app.
 */
.app-description {
    font-size: 1rem;
    color: #e6dcf1;
    margin-top: 10px;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
    font-style: italic;
    opacity: 0.8;
}

/**
 * Hover styles for app-description.
 */
.app-description:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    /**
     * Responsive font size for smaller screens.
     */
    .app-title {
        font-size: 40px;
    }

    /**
     * Button width for smaller screens.
     */
    .toggle-form-button {
        width: 100%;
    }

    /**
     * Input field width for smaller screens.
     */
    .form-input {
        width: 100%;
    }
}
