.form-title {
    font-size: 2.5rem;
    color: #882be5; /* Light Purple */
    /*margin-bottom: 20px;*/
}

.form-container.visible {
    height: auto;
    margin-top: 20px;
}

.form-container.hidden {
    height: 0;
    margin-top: 0;
    overflow: hidden;
}

/* Your existing styles */

.card {
    background-color: #e6dcf1; /* Light Lavender */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    max-width: 100%;
    width: 100%;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Fading transition */
    padding: 1rem;
}

.form-container.visible .card {
    opacity: 1; /* Make visible when form is shown */
}

.create-card-content {
    position: relative;
    width: 100%;
}

.form-label {
    display: inline-flex;
    /*padding: 10px;*/
    margin-bottom: 6px;
    color: #8a4ba8; /* Fancy Light Purple */
}

.create-form-input {
    padding: 1rem;
    margin-bottom: 14px;
    border: 1px solid #423152; /* Light Gray border */
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    width: 90%;
}

.form-input.invalid {
    border-color: #e53e3e; /* Red border for invalid input */
}

.error-message {
    color: #e53e3e; /* Red color for error message */
    margin-top: 6px;
}

/* Your existing styles */

.form-title {
    font-size: 2.5rem;
    color: #882be5;
}

.card {
    background-color: #e6dcf1;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding: 1rem;
}

.form-container.visible .card {
    opacity: 1;
}

.create-card-content {
    position: relative;
    width: 100%;
}

.form-label {
    display: inline-flex;
    margin-bottom: 6px;
    color: #8a4ba8;
}

.create-form-input {
    margin-bottom: 14px;
    border: 1px solid #423152;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    /*width: 100%;*/
}

.form-input.invalid {
    border-color: #e53e3e;
}

.error-message {
    color: #e53e3e;
    margin-top: 6px;
}

.form-button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background-color: #8a4ba8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    .form-container {
        flex-direction: column;
        align-items: stretch;
    }

    .form-title {
        font-size: 2rem;
    }

    .create-form-input {
        width: 80%;
    }
}

/* Your existing styles */
.success-feedback {
    color: #4caf50; /* Green color for success feedback */
    margin-top: 10px;
}
