/* src/StoryInteraction.css */

/* Existing styles */

/* Add media query for smaller screens */
@media only screen and (max-width: 600px) {
    .form-container {
        flex-direction: column;
        width: 100%;
    }

    .interaction-form-input,
    .select-form-input {
        width: 100%;
    }

    .hint-container {
        margin: 5% 5% 1% 5%;
        width: 90%;
    }
}

/* Your existing styles */

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    color: #8a4ba8;
    margin-bottom: 10px;
    display: block;
}

.interaction-form-input {
    padding: 1rem;
    margin-bottom: 14px;
    border: 1px solid #423152;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    /*width: 90%;*/
}

.select-form-input {
    padding: 1rem;
    margin-bottom: 14px;
    border: 1px solid #423152;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    width: 93%;
}

button {
    background-color: #8a4ba8;
    color: #fcfafd;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #8e44ad;
}

.form-input.invalid {
    border-color: #e53e3e;
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    max-width: 100%;
}

.interaction-card-content {
    position: relative;
    width: 100%;
}

.sentence-title {
    font-size: 2.5rem;
    color: #882be5;
}

.hint-container {
    margin: 5% 20% 1% 8%;
    width: 80%;
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hint-text {
    font-size: 1rem;
    color: #3498db;
}
