/* src/StoryInteraction.css */

/* Style the StoryInteraction component */

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    color: #8a4ba8;
    margin-bottom: 10px;
    display: block;
}

.interaction-form-input {
    padding: 1rem;
    margin-bottom: 14px;
    border: 1px solid #423152; /* Light Gray border */
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    width: 90%;
}

.select-form-input {
    padding: 1rem;
    margin-bottom: 14px;
    border: 1px solid #423152; /* Light Gray border */
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    width: 95%;
}



button {
    background-color: #8a4ba8; /* Green */
    color: #fcfafd;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #8e44ad;
}


.form-input. invalid {
    border-color: #e53e3e; /* Red border for invalid input */
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    width: 200rem;
}

.interaction-card-content {
    position: relative;
    width: 100%;
}

.sentence-title {
    font-size: 2.5rem;
    color: #882be5; /* Light Purple */
    /*margin-bottom: 4rem;*/
}

.hint-container {
    margin-left: 0.5rem;
    margin-top: 10%;
    width: 90%;
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999; /* Ensure the popup appears above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hint-text {
    font-size: 1rem;
    color: #3498db; /* Blue color for the hint text, adjust as needed */
    /* Additional styling for the hint text */
}
