/* Media Query for Smaller Screens */
@media only screen and (max-width: 600px) {
    .form-container {
        flex-direction: column;
        width: 90%;
    }

    .interaction-form-input,
    .select-form-input,
    .hint-container {
        width: 90%;
        margin: 20% 5% 1% 5%;
    }
}

/* Input Styles */
.interaction-form-input,
.select-form-input {
    padding: 1rem;
    margin-bottom: 14px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    width: 80%;
    display: flex;
    position: relative;
}

.select-form-input {
    width: 100%;
}

/* Button Styles */
button {
    background-color: var(--primary-color);
    color: #fcfafd;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #8e44ad;
}

.end-button,
.view-button,
.hide-button {
    background-color: var(--primary-color);
    color: #fcfafd;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

.hide-button {
    background-color: #340649;
}

.disabled {
    display: none;
}

/* Label Styles */
label {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
    display: block;
}

/* Card Styles */
.interaction-card {
    background-color: var(--background-light);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    max-width: 100%;
    width: 100%;
    transition: opacity 1s ease-in-out;
    padding: 1rem;
}

/* Title Styles */
.sentence-title {
    font-size: 2.5rem;
    color: var(--primary-color);
}

/* Hint Container Styles */
.hint-container {
    margin: 3% 1% 0 5%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Hint Text Styles */
.hint-text {
    font-size: 1rem;
    color: var(--secondary-color);
    padding: 1rem;
    margin-bottom: 14px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    width: 80%;
    display: flex;
    position: relative;
}

/* Feedback Message Styles */
.feedback-message {
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.feedback-message.success {
    background-color: var(--feedback-success);
    color: #fff;
}

.feedback-message.error {
    background-color: var(--feedback-error);
    color: #fff;
}

/* Story Link Styles */
.hint-container label {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

/* Completed Feedback Styles */
.completed-feedback {
    color: var(--feedback-success);
    margin-top: 10px;
}

.interaction-form-input.invalid {
    border-color: #e53e3e; /* Red border for invalid input */
}

.success-feedback {
    background-color: #b083e0; /* Green */
    color: #fff; /* White text */
    padding: 10px;
    margin: 10px 0;
    border-radius: 9px;
    text-align: center;
    opacity: 0.8;
}

.error-feedback {
    background-color: #eca29c; /* Red */
    color: #fff; /* White text */
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
}

.story-link{
    font-style: italic ;
    color: darkblue;
}
