/**
 * Container for the information circle and hint.
 * @class
 */
.info-circle-container {
    position: relative;
    display: inline-block;
}

/**
 * Information circle style.
 * @class
 */
.info-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fcfafd;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin: 20px;
    width: 100%;
}

/**
 * Container for the information hint.
 * @class
 */
.info-hint-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
    background-color: #050505;
    color: #fcfafd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    white-space: unset;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
}

/**
 * Show the hint container when the information circle is focused or the hint container is not focused.
 */
.info-circle:focus + .info-hint-container,
.info-hint-container:not(:focus-within) {
    display: block;
}

/**
 * Close button style.
 * @class
 */
.close-button {
    top: 0;
    width: 10%;
    color: white;
    cursor: pointer;
    background-color: #8e44ad;
    text-align: center;
    position: relative;
}

/**
 * Title style for the hint.
 * @class
 */
.hint-title {
    background-color: #8e44ad;
    width: 100%;
    height: 1.5rem;
}

/**
 * Row layout for information content.
 * @class
 */
.info-row {
    flex-direction: row;
    position: relative;
    display: flex;
}
