.info-circle-container {
    position: relative;
    display: inline-block;
}

.info-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fcfafd;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin: 20px;
    width: 100%;
}

.info-hint-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
    background-color: #050505;
    color: #fcfafd;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    /*font-size: 16px;*/
    white-space: unset;
    display: none; /* Hidden by default */
    /*width: 20rem;*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-circle:focus + .info-hint-container,
.info-hint-container:not(:focus-within) {
    display: block;
}

.close-button{
    width: 20%;
    color: white;
    cursor: pointer;
    background-color: #8e44ad;
    padding: 2% 2% 2% 2%;
    margin: 1% 1% 1% 1%;
    border-radius: 2rem;
    position: relative;

}
