/* src/app.css */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.form-title {
    font-size: 2.5rem;
    color: #6c5ce7; /* Light Purple */
    margin-bottom: 20px;
}

.toggle-form-button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    color: white;
    background-color: #8a4ba8; /* Fancy Light Purple */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.toggle-form-button:hover {
    background-color: #8e44ad; /* Darker Purple for hover */
}

.form-container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.form-container.visible {
    height: auto;
    margin-top: 20px;
}

.form-container.hidden {
    height: 0;
    margin-top: 0;
    overflow: hidden;
}

/* Your existing styles */

.card {
    background-color: #f0f2f5; /* Light Lavender */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    max-width: 100%;
    width: 100%;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Fading transition */
}

.form-container.visible .card {
    opacity: 1; /* Make visible when form is shown */
}

.card-content {
    padding: 20px;
    position: relative;
}

.form-label {
    display: block;
    margin-bottom: 6px;
    color: #8a4ba8; /* Fancy Light Purple */
}

.form-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #d1d5db; /* Light Gray border */
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.form-input.invalid {
    border-color: #e53e3e; /* Red border for invalid input */
}

.error-message {
    color: #e53e3e; /* Red color for error message */
    margin-top: 6px;
}

.form-button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    color: white;
    background-color: #8a4ba8; /* Fancy Light Purple */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Your existing styles */
